{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <input type="submit" value="{% trans 'Save' %}" class="default" name="_save" />
        {% if original.status == 'n' %}
        	<input type="submit" style='background: #FF6644; float:left;' value="{% trans 'Reject this Story' %}" name="_reject_story" />
        {% endif %}
        {% if original.status == 'n' or original.status == 'r' %}
        	<input type="submit" style='background: #66CC66; float:left;' value="{% trans 'Accept this Story' %}" name="_accept_story" />
        {% endif %}
        <input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />
    </div>
{% endblock %}