
{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- FAV ICON -->
  <link rel="shortcut icon" href="{% static 'images/yeoman.png' %}" type="image/x-icon"/>
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular-route.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-growl.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular-cookies.js' %}"></script>
<script src="{% static 'bower_components/angular/angular-sanitize.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/ui-bootstrap.js' %}"></script>
<link rel="stylesheet" href="{% static 'bower_components/angular.rangeSlider.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/animate.min.css' %}">
 <!-- <link rel="stylesheet" href="{% static 'bower_components/flatly.css' %}">-->
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bower_components/image-upload.css' %}" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-tags-input.css' %}"> 
    <link href="{% static 'bower_components/image-upload.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bower_components/chat/style.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/angular-growl.min.css' %}">



<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>

<script src="{% static 'bower_components/angular.rangeSlider.js'  %}"></script>
<!-- Simple Chat -->
<script src="{% static 'bower_components/chat/index.js'  %}"></script>
    <script src="{% static 'bower_components/image-upload.js' %}"></script>
    <script src="{% static 'bower_components/ngprogress.min.js' %}"></script>
    <script src="{% static 'bower_components/ng-tags-input.js' %}"></script>
    <script src="{% static 'bower_components/angular-touch.js' %}"></script>

    <script src="{% static 'bower_components/angular/angular-resource.js' %}"></script>
    <script src="{% static 'bower_components/angular.rangeSlider.js' %}"></script>
    <script src="{% static 'bower_components/angular/angular-cache.js' %}"></script>
    <script src="{% static 'bower_components/angular/angular-animate.js' %}"></script>

    <script src="{% static 'bower_components/angular-moment.js' %}"></script>

    <script src="{% static 'bower_components/image-upload.js' %}"></script>
    <script src="{% static 'bower_components/ngprogress.min.js' %}"></script>
    <script src="{% static 'bower_components/quickblox.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/ng-imgur.js' %}"></script>
<!-- Tutr app script<script src="{% static 'bower_components/tag-item.js' %}"></script>
    <script src="{% static 'bower_components/tags.js' %}"></script>
 -->
<script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
<!-- Tutr directives scripts -->

<script type="text/javascript" src="{% static 'scripts/directives/Drop.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/directives/image.js' %}"></script>
<!-- Tutr filters scripts -->
<script type="text/javascript" src="{% static 'scripts/filters/qbloxuserById.js' %}"></script>
<!-- Tutr services scripts -->
<script type="text/javascript" src="{% static 'scripts/services/FacebookService.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/services/messageservice.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/services/subjectservice.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/services/tutorservice.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/services/userservice.js' %}"></script>
<!-- Tutr controllers scripts -->
<script type="text/javascript" src="{% static 'scripts/controllers/about.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/controllers/dialog.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/controllers/login.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/controllers/main.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/controllers/messages.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/controllers/profile.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/controllers/register.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/controllers/tutor.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/controllers/tutors.js' %}"></script>


  <!-- APPLE -->
  <link href="/static/assets/icons/apple-icons/apple-touch-icon.png" rel="apple-touch-icon"/>
  <link href="/static/assets/icons/apple-icons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/static/assets/icons/apple-icons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/static/assets/icons/apple-icons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/static/assets/icons/apple-icons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>

  <!-- ANDROID -->
  <link href="/static/assets/icons/android-icons/icon-hires.png" rel="icon" sizes="192x192"/>
  <link href="/static/assets/icons/android-icons/icon-normal.png" rel="icon" sizes="128x128"/>

  <meta name="theme-color" content="#0f0045">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<link rel="stylesheet" href="{% static 'bower_components/imgur.css' %}"/>
<link rel="stylesheet" href="{% static 'bower_components/bootstrap.css' %}"/>
  <!-- build:css({../static/.tmp/serve,src}) /styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({../static/.tmp/serve,src}) /styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:js(src) /scripts/modernizr.js -->
  <!-- endbuild -->


  <!-- build:js(src) /scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({../static/.tmp/serve,../static/.tmp/partials,src}) /scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- inject:analytics -->
  <!-- endinject -->
</head>
<body ng-app="tutrApp">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1151126811600925',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<div class="header no-pad">
  <div class="navbar navbar-default no-round" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Tutr</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#/">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/">Contact</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li dropdown ng-show="currentUser && messageDialogs.items">
            <a href="#" dropdown-toggle>Messages</a>
            <ul class="dropdown-menu">
             
            </ul>
          </li>
          <li dropdown ng-show="currentUser">
            <a href="#" dropdown-toggle>{{currentUser.first_name}}</a>
              <ul class="dropdown-menu">
                <li><a ng-href="/#/profile">Profile</a></li>
                <li><a ng-href="/#/messages">Messages</a></li>
                <li><a ng-click="logOut()">Logout</a></li>
              </ul>

          </li>
          <li ng-hide="currentUser"><a href="/#/login" class="btn">Login</a></li>
          <li ng-hide="currentUser"><a href="/#/register" class="btn">Register</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div growl></div>

  <div ng-view=""></div>
</div>

<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
  </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'GTM-K2FMGC');
  ga('send', 'pageview');
</script>


</body>
</html>
