<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- FAV ICON -->
  <link rel="shortcut icon" href="/static/assets/icons/favicon.ico" type="image/x-icon"/>

  <!-- APPLE -->
  <link href="/static/assets/icons/apple-icons/apple-touch-icon.png" rel="apple-touch-icon"/>
  <link href="/static/assets/icons/apple-icons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/static/assets/icons/apple-icons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/static/assets/icons/apple-icons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/static/assets/icons/apple-icons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>

  <!-- ANDROID -->
  <link href="/static/assets/icons/android-icons/icon-hires.png" rel="icon" sizes="192x192"/>
  <link href="/static/assets/icons/android-icons/icon-normal.png" rel="icon" sizes="128x128"/>

  <meta name="theme-color" content="#0f0045">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- build:css({../static/.tmp/serve,src}) /styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../bower_components/angular-bootstrap-simple-chat/src/css/style.css" />
  <link rel="stylesheet" href="../bower_components/angular-growl-v2/build/angular-growl.css" />
  <link rel="stylesheet" href="../bower_components/angular-rangeslider/angular.rangeSlider.css" />
  <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../bower_components/animate.css/animate.css" />
  <link rel="stylesheet" href="../bower_components/bootswatch-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../bower_components/ng-tags-input/ng-tags-input.min.css" />
  <link rel="stylesheet" href="../bower_components/ngprogress/ngProgress.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({../static/.tmp/serve,src}) /styles/app.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="app/main.css">
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:js(src) /scripts/modernizr.js -->
  <!-- endbuild -->


  <!-- build:js(src) /scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="../bower_components/angular-bootstrap-simple-chat/src/scripts/index.js"></script>
  <script src="../bower_components/angular-cache/dist/angular-cache.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="../bower_components/angular-growl-v2/build/angular-growl.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/angular-moment/angular-moment.js"></script>
  <script src="../bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="../bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/bootstrap-css/js/bootstrap.min.js"></script>
  <script src="../bower_components/angular-tags/dist/angular-tags-0.2.10.js"></script>
  <script src="../bower_components/angular-touch/angular-touch.js"></script>
  <script src="../bower_components/ng-tags-input/ng-tags-input.min.js"></script>
  <script src="../bower_components/ngprogress/build/ngprogress.min.js"></script>
  <script src="../bower_components/parse/parse.min.js"></script>
  <script src="../bower_components/parse-angular-patch/dist/parse-angular.js"></script>
  <script src="../bower_components/quickblox/quickblox.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({../static/.tmp/serve,../static/.tmp/partials,src}) /scripts/app.js -->
  <!-- inject:js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/services/userservice.js"></script>
  <script src="scripts/services/tutorservice.js"></script>
  <script src="scripts/services/subjectservice.js"></script>
  <script src="scripts/services/messageservice.js"></script>
  <script src="scripts/services/ParseServices.js"></script>
  <script src="scripts/services/FacebookPatch.js"></script>
  <script src="scripts/filters/qbloxuserById.js"></script>
  <script src="scripts/directives/image.js"></script>
  <script src="scripts/controllers/tutors.js"></script>
  <script src="scripts/controllers/tutor.js"></script>
  <script src="scripts/controllers/register.js"></script>
  <script src="scripts/controllers/profile.js"></script>
  <script src="scripts/controllers/messages.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/dialog.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- inject:analytics -->
  <!--Adobe tag manager-->
<script
  src="//assets.adobedtm.com/bdb7c229f081f9ffc404356e80a09e4febbd633c/satelliteLib-5dc21eb24c85c0a03b9d1ad270cf7a37116a462b-staging.js"></script>

  <!-- endinject -->
</head>
<body ng-app="tutrApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header no-pad">
  <div class="navbar navbar-default no-round" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Tutr</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#/">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/">Contact</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li dropdown ng-show="currentUser && messageDialogs.items">
            <a href="#" dropdown-toggle>Messages</a>
            <ul class="dropdown-menu">
              <li ng-repeat="dialog in messageDialogs.items"><a ng-href="/#/messages/{{dialog._id}}">Chat between {{dialog.occupants_ids[0] | qbloxUserById }} and {{dialog.occupants_ids[1] | qbloxUserById }}</a></li>
            </ul>
          </li>
          <li dropdown ng-show="currentUser">
            <a href="#" dropdown-toggle>{{currentUser.attributes.firstName}}</a>
              <ul class="dropdown-menu">
                <li><a ng-href="/#/profile">Profile</a></li>
                <li><a ng-href="/#/messages">Messages</a></li>
                <li><a ng-click="logOut()">Logout</a></li>
              </ul>

          </li>
          <li ng-hide="currentUser"><a href="/#/login" class="btn">Login</a></li>
          <li ng-hide="currentUser"><a href="/#/register" class="btn">Register</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div growl></div>

  <div ng-view=""></div>
</div>

<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
  </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'GTM-K2FMGC');
  ga('send', 'pageview');
</script>

<!-- Async Social SDKs -->
<div id="fb-root"></div>

<script type="text/javascript">
  (function (doc, script) {
    var js,
      fjs = doc.getElementsByTagName(script)[0],
      add = function (url, id) {
        if (doc.getElementById(id)) {
          return;
        }
        js = doc.createElement(script);
        js.src = url;
        id && (js.id = id);
        fjs.parentNode.insertBefore(js, fjs);
      };
    // Facebook SDK
    add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk');
    // Twitter SDK
    add('//platform.twitter.com/widgets.js', 'twitter-wjs');
  }(document, 'script'));
</script>


<!-- Async resolve promise when FB SDK is loaded, this triggers Parse.FacebookUtils.init() -->
<script>
  var fbDeferred = $.Deferred();
  window.fbPromise = fbDeferred.promise();
  window.fbAsyncInit = function () {
    fbDeferred.resolve();
  };
</script>
</body>
</html>
